<h1>Hello from Go-Food</h1>
<p>
  It is now <%= @time.strftime("%A, %d-%m-%Y") %>
</p>
<p>
  Registered users :
</p>
<ul>
  <% @users.each do |user| %>
    <li data-id="<%= user.id %>"><%= user.username %> - <%= user.full_name %></li>
  <% end %>
</ul>